* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 16px;
  font-family: "Tahoma", Verdana, sans-serif;
}

body {
  background-color: #eaeaea;
  color: #000;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 100vw;
  flex-wrap: wrap;
}

.image-container {
  position: fixed;
  left: 0;
  top: 0;
  width: 50vw;
  height: 100vh;
  overflow: hidden;
}

.image-container img {
  object-fit: cover;
  width: 100%;
  height: 100vh;
}

.price-banner {
  position: absolute;
  top: 20px;
  right: 20px;
  background-color: #d54215;
  color: white;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  transition: opacity 0.5s ease-in-out;
}

.form-container {
  flex: 1;
  padding: 40px;
  min-height: 100vh;
  margin-left: 50vw;
  width: 50vw;
  overflow-y: auto;
}

h1 {
  color: rgb(8, 48, 8);
  font-size: 2.5rem;
  border-bottom: 3px solid rgb(7, 43, 7);
}

h2 {
  color: Green;
  font-size: 1.6rem;
  border-bottom: 3px solid #2a0e05;
}

h3 {
  margin: 20px;
}

select,
label {
  display: block;
  margin-top: 10px;
}

input[type="checkbox"] {
  margin-right: 5px;
  width: 20px;
  height: 14px;
  cursor: pointer;
}

input[type="text"],
select {
  border: 1px solid #8f5757;
  background-color: #d1acac;
  padding: 8px;
  border-radius: 5px;
}

input:focus,
select:focus {
  box-shadow: 0 0 5px rgba(18, 77, 136, 0.5);
}

#type {
  padding: 6px;
}

#customerName {
  margin-top: 10px;
  padding: 6px;
  border-radius: 7px;
  border: 1px solid #9a8686;
  background-color: #d1baba;
  box-shadow: 0 0 5px rgba(4, 37, 72, 0.5);
}

.button-container {
  display: flex;
  gap: 15px;
}

.order_summary_container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  min-height: auto;
  padding: 20px;
  margin-top: 20px;
  background-color: rgb(202, 184, 177);
}

/* Status Colors */
.waiting {
  background-color: rgb(187, 187, 164);
}

.ready {
  background-color: rgb(7, 7, 71);
  color: white;
}

.delivered {
  background-color: rgb(6, 44, 6);
  color: white;
}

#confirmOrder {
  background-color: #b97d6a;
  color: white;
  padding: 0.8rem 1.2rem;
  border: none;
  border-radius: 5px;
  margin: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

#confirmOrder:hover {
  background-color: #c43110;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#orderSummary {
  background-color: #e8edf1;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
}

#orderSummary p {
  font-size: 1rem;
  line-height: 1.1;
  margin: 10px;
  color: #333;
}

#orderSummary .total-price {
  font-size: 1.2rem;
  font-weight: bold;
  color: #d54215;
}


/* All Orders Button */
#allOrder {
  bottom: 80px;
  right: 30px;
  background-color: #0b2b4e;
  color: white;
  padding: 0.8rem 1.2rem;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.5s;
  border: none;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

#allOrdersButton:hover {
    background-color: #0000ff;
  }


      /* All Orders Button */
      #offerButton {
        position: fixed;
        top: 100px;
        right: 40px;
        background-color: rgb(62, 34, 34);
        color: #fff;
        padding: 15px 15px;
        border-radius: 40px;
        cursor: pointer;
        font-size: 1rem;
        z-index: 10;
        border: none;
      }